.content{
    padding: 10px 0;
    h2{
        font-weight: bold;
        color: var(--primary-color);
        margin: 5px 0;
        font-size: 1em;
    }
    p{
        margin: 0;
        span{
            font-weight: bold;
        }
    }
    .content-switch{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2em;
        i{
            font-size: 1.5rem;
            color: var(--primary-color);
        }
        p{
            margin: 4px 0;
            //margin-left: 10px;
            
        }
    }
    .button{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        button{
            text-transform: uppercase;
        }
    }
}

.text_description{
text-align:justify;
p{
    padding: 5px;
}
}

:host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}

.footer-spin{
    margin:1em 0;
}