<div class="content">
    <h6>Información del OA</h6>
    <p *ngIf="oa_detail.title"><span>Titulo: </span> {{oa_detail.title}}</p>
    <p *ngIf="oa_detail.author"><span>Autor: </span> {{oa_detail.author}}</p>
    <p *ngIf="oa_detail.license"><span>Licencia: </span> {{oa_detail.license}}</p>
    <p *ngIf="oa_detail.version"><span>Versión: </span> {{oa_detail.version}}</p>
    <h6>Información del Archivo</h6>
    <p><span>Paginas: </span> {{file_detail.pages}}</p>
    <p><span>Imagenes: </span> {{file_detail.images}}</p>
    <p><span>Parrafos: </span> {{file_detail.paragraphs}}</p>
    <p><span>Videos: </span> {{file_detail.videos}}</p>
    <p><span>Audios: </span> {{file_detail.audios}}</p>
    <h6>Configuración de Adaptabilidad</h6>
    <p><span>Tipo de adaptación: </span> {{method}}</p>
    <div class="content-switch">
        <!-- <p-inputSwitch (onChange)="onChangeButton()" [(ngModel)]="button"></p-inputSwitch> -->
        <p><span>Botón de adaptabilidad</span></p>
    </div>
    <div class="content-switch">
        <!-- <p-inputSwitch (onChange)="onChangeImage()"  [(ngModel)]="image"></p-inputSwitch> -->
        <p><span>Imagenes</span></p>
    </div>
    <div class="content-switch">
        <!-- <p-inputSwitch (onChange)="onChangeParagraph()"  [(ngModel)]="paragraph"></p-inputSwitch> -->
        <p><span>Parrafos</span></p>

    </div>
    <div class="content-switch">
        <!-- <p-inputSwitch (onChange)="onChangeVideo()"  [(ngModel)]="video"></p-inputSwitch> -->
        <p><span>Videos</span></p>

    </div>
    <div class="content-switch">
        <!-- <p-inputSwitch (onChange)="onChangeAudio()"  [(ngModel)]="audio"></p-inputSwitch> -->
        <p><span>Audios</span></p>

    </div>

    <div class="button">
        <p-button (click)="showResponsiveDialog()" icon="pi pi-cloud-download" label="Descargar OA adaptado"></p-button>
        <p-dialog header="Información de descarga" [(visible)]="displayResponsive" [modal]="true"
             [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
            <div class="text_description" *ngIf="displayResponsive == true">
                <p style="text-align: justify; color: black;">Elementos adaptados en el objeto de aprendizaje: </p>
                <p>
                <span style="font-weight: bold;line-height: 1.5;">Párrafos adaptados:</span>
                <br>
                Se encontraron {{tag_adapted.tag_adapted.paragraphs}} párrafos.
                </p>
                <p>
                    <span style="font-weight: bold;line-height: 1.5;">Imágenes adaptadas:</span>
                    <br>    
                    Se encontraron {{tag_adapted.tag_adapted.images}} imágenes.
                </p>
                <p>
                    <span style="font-weight: bold; line-height: 1.5;">Audios adaptados:</span>
                    <br>
                    Se encontraron {{tag_adapted.tag_adapted.audios}} audios.
                </p>
                <p>
                    <span style="font-weight: bold; line-height: 1.5;">Videos adaptados:</span>
                    <br>
                    Se encontraron {{tag_adapted.tag_adapted.videos}} videos.
                </p>
                <p>
                    <span style="font-weight: bold; line-height: 1.5;">Páginas totales del Objeto de Aprendizaje:</span>
                    <br>
                    Se encontraron un total de {{file_detail.pages}} Páginas.
                </p>  
                <br>            
                  
            </div>
            <ng-template pTemplate="footer">

                <p style="text-align: justify;opacity: 0.8;font-size: 15px;">
                    <strong>¿Terminaste de adaptar tu Objeto de Aprendizaje? </strong> 
                    <br>
                     Recuerda que, una vez descargado el Objeto de Aprendizaje adaptado 
                     para tu seguridad y no crear conflictos dentro del OA te
                      recomendamos verificar si has hecho los cambios necesarios antes de descargarlo, 
                      tambien te recomendamos no subir tu OA adaptado para
                       no generar errores sobre el mismo. 
                 </p>  
                <br>
                <button pButton  (click)="displayResponsive=false" label="No" class="p-button-danger"
                icon="pi pi-times" ></button>
                <button pButton (click)="descargar()" label="Descargar" styleClass="p-button-text" icon="pi pi-check"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>