.content{
    padding: 10px 0;
    h6{
        font-weight: bold;
        color: var(--primary-color);
        margin: 5px 0;
    }
    p{
        margin: 0;
        span{
            font-weight: bold;
        }
    }
    .content-switch{
        display: flex;
        align-items: center;
        p{
            margin: 4px 0;
            margin-left: 10px;
            
        }
    }
    .button{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        button{
            text-transform: uppercase;
        }
    }
}
