<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h2>{{'guide.tour.title' | translate}}</h2>
        <p>
            {{'guide.tour.p1' | translate}}
        </p>
        <p>
            {{'guide.tour.p2' | translate}}
        </p>
        <p>
            {{'guide.tour.p3' | translate}}
        </p>
        <p>
            {{'guide.tour.p4' | translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/tour.gif" alt="Presentación del área de trabajo para la adaptación." /> -->
        <video [title]="'guide.tour.videoTitle' | translate" src="assets/videos/tour.mp4" type="video/mp4" controls autoplay loop></video>
    </div>
</div>