<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h1>Área de trabajo</h1>
        <p>
            En esta área encontraras las diferentes secciones para adaptar el objeto de aprendizaje.
        </p>
        <p>
            Par la vista previa del objeto de aprendizaje puedes acceder a la sección de Objeto de aprendizaje adaptado
            y objeto de aprendizaje original.
        </p>
        <p>
            Para facilitar la edición de las áreas puedes acceder a la sección Todos los audios, Todas las imágenes y
            Todos los videos, este apartado se listará todos los recursos de todas las páginas del objeto de
            aprendizaje, para ahorrar tiempo en la búsqueda de cada uno de estos recursos.
        </p>
        <p>
            También puedes buscar el contenido según la pagina del objeto de aprendizaje, este contendió lo puedes
            ubicar situándote en la sección Objeto de aprendizaje adaptado y seleccionando la página que desees buscar
            el contenido.
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/tour.gif" alt="Presentación del área de trabajo para la adaptación." /> -->
        <video title="Presentación del área de trabajo para la adaptación." src="assets/videos/tour.mp4" type="video/mp4" controls autoplay loop></video>
    </div>
</div>