<div class="contact-us" style='background-image: url("assets/img/bruce-mars.jpg");'>
    <div class="p-grid">

        <div class="p-col-11 p-md-6 p-lg-6 content-info">
            <div class="text main-content">
                <!-- <h2>Construyendo un mundo mejor</h2> -->
                <h2>Contáctenos</h2>
                <p>Nos gustaría saber tu opinión, dudas o sugerencias o simplemente nos quiere saludar, nos encantaría
                    atender su mensaje.</p>
            </div>
        </div>
        <div class="p-col-1 p-md-6 p-lg-6">
            <!-- <img class="img-col" src="assets/img/undraw_status_update_re_dm9y.svg" alt="Icono nosotros"> -->
        </div>
    </div>

</div>


<div class="contact-forms main-content">

    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-5">
            <form autocomplete="off" [formGroup]="angForm" (ngSubmit)="validateUser()" id="loginForm">
                <div class="p-field p-fluid">
                    <label for="firstnamelabel">Nombre: *</label>
                    <input type="text" formControlName="name" pInputText>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)">
                        <small id="name " class="p-error" *ngIf="name.errors.required">Campo
                            Obligatorio</small>
                    </div>
                </div>
                <div class="p-field p-fluid">
                    <label for="firstnamelabel">Email: *</label>
                    <input type="text" formControlName="email" pInputText>
                    <div *ngIf="email.invalid && (name.dirty || email.touched)">
                        <small id="name " class="p-error" *ngIf="email.errors.required">Campo Obligatorio</small>
                        <small id="name " class="p-error" *ngIf="email.errors?.pattern">El correo no es valido</small>
                    </div>
                </div>
                <div class="p-field p-fluid">
                    <label for="firstnamelabel">Escriba un mensaje: *</label>
                    <div>
                        <textarea name="" id="" rows="5" cols="30" style="width: 100%;" formControlName="message"
                            pInputTextarea></textarea>
                    </div>
                    <div *ngIf="message.invalid && (message.dirty || message.touched)">
                        <small id="name " class="p-error" *ngIf="message.errors.required">Campo Obligatorio</small>
                    </div>
                </div>
                <button [disabled]="loader" pButton pRipple type="submit" label="Enviar" icon="pi pi-send"></button>
            </form>
        </div>
        <div class="p-col-0 p-md-0 p-lg-2">

        </div>
        <div class="p-col-0 p-md-6 p-lg-5">
            <img src="/assets/img/undraw_new_message_re_fp03.svg" alt="Imagen de contacto" tabindex="1"
                style="width: 100%;height: 100%;" />
        </div>
    </div>

</div>
<p-toast></p-toast>