<div class="card">
    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <div  class="steps">
        <p-button [disabled]="activeIndex === 0" [label]="'guide.btnBack' | translate" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <p-steps   [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
        <p-button [disabled]="activeIndex >= items.length-1" [label]="'guide.btnNext' | translate" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
    </div>
</div>
