<div class="p-grid oa-info" *ngIf="learningObject">
    <div class="p-col-12 p-md-8 p-lg-9">
        <div class="card">
            <p-tabView styleClass="webview-container">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <!-- <i class="pi pi-calendar"></i> -->
                        <span>Objeto de aprendizaje original</span>
                    </ng-template>
                    <app-webview (eventPage)="eventPage($event)" [pages]="learningObject.pages"></app-webview>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <ng-template pTemplate="header">
                        <!-- <i class="pi pi-user"></i> -->
                        <span>Objeto de aprendizaje adaptado</span>
                    </ng-template>
                    <app-webview (eventPage)="eventPage($event)" [pages]="learningObject.pages"></app-webview>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <div class="p-col-12 p-md-4 p-lg-3 sidebar" *ngIf="learningObject">
        <div class="card">
            <p-tabView styleClass="information-container">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <i class="pi pi-exclamation-circle"></i>
                        <span>Informacion</span>
                    </ng-template>
                    <app-oa-info (eventAdaptabilit)="eventAdaptabilit($event)" [oa_detail]="learningObject.oa_detail" [file_detail]="learningObject.file_detail"
                        [config_adaptability]="learningObject.config_adaptability"></app-oa-info>
                </p-tabPanel>
                <p-tabPanel header="Header II">
                    <ng-template pTemplate="header">
                        <i class="pi pi-sliders-h"></i>
                        <span>Metadatos</span>
                    </ng-template>
                    <p>Metadatos</p>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

<div class="card main-content oa-adaptability">
    <p-tabView (onChange)="onChangeTab($event)" styleClass="webview-container">
        <p-tabPanel id="parrafo"  header="Parrafos" *ngIf="paragraph">
            <ng-template pTemplate="header">
                <i class="pi pi-align-center"></i>
                <span>Parrafos</span>
            </ng-template>
            <app-paragraph-content *ngIf="paragraphs" [paragraphs]="paragraphs"></app-paragraph-content>
        </p-tabPanel>
        <p-tabPanel header="Imagenes" *ngIf="image">
            <ng-template pTemplate="header">
                <i class="pi pi-image"></i>
                <span>Imagenes</span>
            </ng-template>
            <app-image-content></app-image-content>
        </p-tabPanel>
        <p-tabPanel  header="Audios" *ngIf="audio">
            <ng-template pTemplate="header">
                <i class="pi pi-play"></i>
                <span>Audios</span>
            </ng-template>
            <app-audio-content></app-audio-content>
        </p-tabPanel>
        <p-tabPanel  header="Videos" *ngIf="video">
            <ng-template pTemplate="header">
                <i class="pi pi-video"></i>
                <span>Videos</span>
            </ng-template>
            <app-video-content></app-video-content>
        </p-tabPanel>
    </p-tabView>
</div>