<ng-container *ngIf="learningObject; else learningTemplate">
    <div class="p-grid oa-info">
        <div class="p-col-12 p-md-8 p-lg-9">
            <div class="card">
                <p-tabView (onChange)="onChangeWebview($event)" styleClass="webview-container">
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <!-- <i class="pi pi-user"></i> -->
                            <span>Objeto de aprendizaje adaptado</span>
                        </ng-template>
                        <app-webview (eventPage)="eventPage($event)" [pages]="learningObject.pages_adapted">
                        </app-webview>
                    </p-tabPanel>
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <!-- <i class="pi pi-calendar"></i> -->
                            <span>Objeto de aprendizaje original</span>
                        </ng-template>
                        <app-webview (eventPage)="eventPage($event)" [pages]="learningObject.pages_origin">
                        </app-webview>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3 sidebar" *ngIf="learningObject">
            <div class="card">
                <p-tabView styleClass="information-container">
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <i class="pi pi-exclamation-circle"></i>
                            <span>Informacion</span>
                        </ng-template>
                        <app-oa-info (eventAdaptabilit)="eventAdaptabilit($event)"
                            [oa_detail]="learningObject.oa_detail" [file_detail]="learningObject.file_detail"
                            [config_adaptability]="learningObject.config_adaptability"></app-oa-info>
                    </p-tabPanel>
                    <p-tabPanel header="Header II">
                        <ng-template pTemplate="header">
                            <i class="pi pi-sliders-h"></i>
                            <span>Metadatos</span>
                        </ng-template>
                        <p>Metadatos</p>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #learningTemplate>
    <div class="custom-skeleton p-p-12 p-grid">
        <div class="p-field p-col-12 p-md-9 p-lg-9">
            <p-skeleton width="100%" height="70vh"></p-skeleton>
            <div class="p-d-flex p-jc-between p-mt-3">
                <p-skeleton width="4rem" height="2rem"></p-skeleton>
                <p-skeleton width="4rem" height="2rem"></p-skeleton>
            </div>
        </div>

        <div class="p-field p-col-12 p-md-3">
            <div class="p-grid">
                <div class="p-col-12 p-md-3 p-lg-3">
                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                </div>
                <div class="p-col-12 p-md-3 p-lg-3">
                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                </div>
            </div>
            <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="70%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="5%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="90%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="50%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="60%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="40%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="20%" styleClass="p-mb-2"></p-skeleton>
          
        </div>
       
        <div class="p-field p-col-12 p-md-9">
            <div class="p-grid">
                <div class="p-col-12 p-md-3 p-lg-3">
                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                </div>
                <div class="p-col-12 p-md-3 p-lg-3">
                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                </div>
                <div class="p-col-12 p-md-3 p-lg-3">
                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                </div>
                <div class="p-col-12 p-md-3 p-lg-3">
                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                </div>
          
            </div>
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="75%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton height="50%" styleClass="p-mb-2"></p-skeleton>
        </div>
    </div>
    <!-- Begin skeleton  -->
    <!-- <div class="p-grid skeleton">
        <div class="p-col-12 p-md-8 p-lg-9">
            <div class="custom-skeleton p-p-12">
                <p-skeleton width="100%" height="70vh"></p-skeleton>
                <div class="p-d-flex p-jc-between p-mt-3">
                    <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    <p-skeleton width="4rem" height="2rem"></p-skeleton>
                </div>
                <div class="p-field p-col-12 p-md-12">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-3 p-lg-3">
                            <p-skeleton width="10rem" height="2rem"></p-skeleton>
                        </div>
                        <div class="p-col-12 p-md-3 p-lg-3">
                            <p-skeleton width="10rem" height="2rem"></p-skeleton>
                        </div>
                        <div class="p-col-12 p-md-3 p-lg-3">
                            <p-skeleton width="10rem" height="2rem"></p-skeleton>
                        </div>
                        <div class="p-col-12 p-md-3 p-lg-3">
                            <p-skeleton width="10rem" height="2rem"></p-skeleton>
                        </div>
                        <div class="p-col-12 p-md-3 p-lg-3">
                            <p-skeleton width="10rem" height="2rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                    <p-skeleton width="75%" styleClass="p-mb-2"></p-skeleton>
                    <p-skeleton height="50%" styleClass="p-mb-2"></p-skeleton>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-8 p-lg-3 m-5">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <p-skeleton width="10rem" height="2rem"></p-skeleton>
                </div>
            </div>
            <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="70%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="5%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="90%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="50%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="60%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="40%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="20%" styleClass="p-mb-2"></p-skeleton>
        </div>
    </div> -->
    <!-- End skeleton  -->
</ng-template>





<div class="card main-content oa-adaptability" *ngIf="tabAdapted">
    <p-tabView (onChange)="onChangeTab($event)" styleClass="webview-container">
        <p-tabPanel id="parrafo" header="Parrafos" *ngIf="paragraph">
            <ng-template pTemplate="header">
                <i class="pi pi-align-center"></i>
                <span>Parrafos</span>
            </ng-template>
            <ng-container *ngIf="paragraphs?.length > 0; else paragraphsTemplate">
                <app-paragraph-content [paragraphs]="paragraphs"></app-paragraph-content>
            </ng-container>
            <ng-template #paragraphsTemplate>
                <h5 class="no-content">Esta página no contiene párrafos</h5>
            </ng-template>


        </p-tabPanel>
        <p-tabPanel header="Imagenes" *ngIf="image">
            <ng-template pTemplate="header">
                <i class="pi pi-image"></i>
                <span>Imágenes</span>
            </ng-template>
            <ng-container *ngIf="!nFoundImage; else imagesTemplate">
            <app-image-content [imagesGroup]=imagesGroup [nFoundImage]=nFoundImage></app-image-content>
            </ng-container>
            <ng-template #imagesTemplate>
                <h5 class="no-content">Esta página no contiene imágenes</h5>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Audios" *ngIf="audio">
            <ng-template pTemplate="header">
                <i class="pi pi-play"></i>
                <span>Audios</span>
            </ng-template>
            <ng-container *ngIf="!nFoundAudio; else audioTemplate">
                <app-audio-content  [audiosGroup]=audiosGroup></app-audio-content>
            </ng-container>
            <ng-template #audioTemplate>
                <h5 class="no-content">Esta página no contiene imágenes</h5>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Vídeos" *ngIf="video">
            <ng-template pTemplate="header">
                <i class="pi pi-video"></i>
                <span>Vídeos</span>
            </ng-template>

            <ng-container *ngIf="videos?.length > 0; else videosTemplate">
                <app-video-content [videos]="videos" ></app-video-content>
            </ng-container>
            <ng-template #videosTemplate>
                <h5 class="no-content">Esta página no contiene vídeos</h5>
            </ng-template>
            
        </p-tabPanel>
    </p-tabView>
</div>