<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h2>{{'guide.upload.title' | translate}}</h2>
        <p>
            {{'guide.upload.p1' | translate}}
        </p>
        <p>
            {{'guide.upload.p2' | translate}}
        </p>
        <p>
            {{'guide.upload.p3' | translate}}
        </p>
        <p>
            {{'guide.upload.p4' | translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/upload.gif" alt="Carga de un objeto de aprendizaje para adaptar en la plataforma." /> -->
        <video [title]="'guide.upload.videoTitle' | translate" src="assets/videos/upload.mp4" type="video/mp4" controls autoplay loop></video>
    </div>
</div>