<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h1>Subir archivo</h1>
        <p>
            Para cargar un objeto de aprendizaje es muy fácil, puedes entrar a la sección de Adaptador y seleccionar tu
            archivo zip que contiene los archivos del objeto de aprendizaje.
        </p>
        <p>
            Cuando selecciones tu archivo se te habilitara las diferentes áreas de adaptación selecciona las que se
            adecuen a tus necesidades, te recomendamos dejarlas todas así podrás tener una mejor adaptación en tus
            objetos de aprendizaje, si tienes dudas de que realiza cada área en la misma página puedes ver la
            información sobre cada área.
        </p>
        <p>
            Cuando estes listo puedes pulsar en el botón Cargar, lee las políticas de privacidad y licencia si estás de
            acuerdo pulsa en aceptar y espera a que se realice el proceso de carga.
        </p>
        <p>
            Listo ahora puedes explorar las opciones de adaptación.
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/upload.gif" alt="Carga de un objeto de aprendizaje para adaptar en la plataforma." /> -->
        <video title="Carga de un objeto de aprendizaje para adaptar en la plataforma." src="assets/videos/upload.mp4" type="video/mp4" controls autoplay loop></video>
    </div>
</div>