span {
  font-weight: 800;
}

label {
  font-size: medium;
  font-weight: 600;
}
p {
  margin-left: 1em;
}
.title {
  align-self: center;
}
.imageClass {
  text-align: center;
  img {
    width: 40em;
    height: auto;
  }
}
