<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h1>Adaptación de Audios</h1>
        <p>
            En esta sección veamos como adaptar un audio para generar un párrafo de lectura alternativa.
        </p>
        <p>
            Para crear un párrafo de lectura a partir del audio podemos realizar de dos formas de forma automática y de
            forma manual.
        </p>
        <h2>Generar parrafo</h2>
        <p>
            Para generar un párrafo de forma automática pides dar click en el botón generar texto, esta opción creara un
            párrafo de texto a partir del audio haciendo uso de inteligencia artificial, ten en cuenta que el audio
            generado puede tener errores o en algunos casos cuando el audio tiene ruido de fondo pude no generarse o
            pude generarse de manera errónea, pero tranquilo puedes editar en cualquier momento.
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/audioautomatic.gif" alt="Adaptación automática de un audio." /> -->
        <video title="Adaptación automática de un audio." src="assets/videos/audioautomatic.mp4" type="video/mp4" controls autoplay loop></video>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-divider></p-divider>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/audiomanual.gif" alt="Adaptación de forma manual de un audio." /> -->
        <video title="Adaptación de forma manual de un audio." src="assets/videos/audiomanual.mp4" type="video/mp4" controls autoplay loop></video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <h2>Crear parrafo</h2>
        <p>
            Para crear un párrafo de forma manual puedes dar click en el botón de Crear, se habilitará la opción para
            que puedas escribir tu párrafo de texto que se usara como modo alternativo en el video para poder leer este
            párrafo.
        </p>
    </div>
</div>