<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h1>Adaptación de Párrafos de Texto</h1>
        <p>
            En esta sección veremos como adaptar un párrafo de texto para poner un audio o un párrafo alternativo.
        </p>
        <h2>Crear párrafo de lectura alternativa</h2>
        <p>
            Para crear un párrafo de lectura alternativa puedes dar click en el botón de editar en la primera sección de
            lectura fácil puedes editar tu párrafo que se mostrara de forma alternativa al párrafo original en este
            párrafo alternativo opta por usar una lectura fácil para que sea mucho más comprensible el párrafo original.
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <img loading="lazy" src="assets/gifs/paragraphtext.gif" alt="Crear párrafo de lectura alternativa." />
    </div>
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-divider></p-divider>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <img loading="lazy" src="assets/gifs/paragraphaudio.gif" alt="Crear o generar un audio alternativo." />
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <h2>Crear audio alternativo</h2>
        <p>
            También puedes mostrar un audio de forma alternativa para el párrafo, para crear un audio puedes dar click
            en editar y en la sección Audio, tienes diferentes alternativas para crear un audio, puedes subir un audio,
            puedes gravar un audio o puedes generar de forma automática, al crear un audio se mostrará en el objeto de
            aprendizaje de forma alternativa para escuchar el párrafo de texto.
        </p>
    </div>
</div>