<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-12 p-lg-12 p-text-center">
        <h2 class="p-text-center">{{'guide.paragraph.title' | translate}}</h2>
        <p>
            {{'guide.paragraph.p1' | translate}}
        </p>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6">
        <h3>{{'guide.paragraph.section1.title' | translate}}</h3>
        <p>
            {{'guide.paragraph.section1.p1' | translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/paragraphtext.gif" alt="Crear párrafo de lectura alternativa." /> -->
        <video [title]="'guide.paragraph.section1.videoTitle' | translate" src="assets/videos/paragraphtext.mp4"
            type="video/mp4" controls autoplay loop></video>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-divider></p-divider>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6">
        <h3>{{'guide.paragraph.section2.title' | translate}}</h3>
        <p>
            {{'guide.paragraph.section2.p1' | translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/paragraphaudio.gif" alt="Crear o generar un audio alternativo." /> -->
        <video [title]="'guide.paragraph.section2.videoTitle' | translate" src="assets/videos/paragraphaudio.mp4"
            type="video/mp4" controls autoplay loop></video>
    </div>
</div>