<div class="content p-grid">
    <div class="p-col-12 p-md-6 p-lg-6 title main-content">
        <h2>Mejora la educación online con recursos educativos adaptados, para una educación sin frontera. </h2>
        <button pButton pRipple type="button" label="Mas información"
            class="p-button-outlined p-button-rounded p-button-secondary" styleClass="p-button"></button>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 img">
        <img src="assets/img/svg3.svg" alt="Imagen de portada">
    </div>


    <div class="content-information">
        <svg class="wave-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#006CE1" fill-opacity="1" d="M0,128L1440,288L1440,320L0,320Z"></path>
        </svg>
        <div class="p-grid p-col-12 p-md-12 p-lg-12 information">

            <div class="p-col-12 p-md-6 p-lg-6 information-image">
                <img src="assets/img/svg1.svg" alt="Imagen de portada">
            </div>
            <div class="p-col-12 p-md-6 p-lg-6 main-content">
                <p>OER Es una plataforma para el adaptado de accesibilidad de recursos educativos, <br> los objetos de
                    aprendizaje son una gran herramienta de educación por esto deben estar disponibles <br> para todo el
                    publico de forma que cada persona pueda acceder a estos recursos sin limitación alguna, <br> ayuda a
                    construir una educación de alta calidad.</p>
            </div>
        </div>
        <svg class="wave-bott" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#006CE1" fill-opacity="1" d="M0,128L1440,288L1440,320L0,320Z"></path>
        </svg>
    </div>

    <div class="p-col-12 p-md-12 p-lg-12 main-content text-info">
        <h3>Diseñado para mejorar los resultados de aprendizaje de un estudiante <br> mediante recursos educativos
            digitales
        </h3>
        <p>La adaptación de un recurso educativo ayuda a mejorar la calidad educativa, <br> miles de recursos educativos en
            la web no están adaptados para todas las personas <br> que pueden acceder a estos recursos por lo que la
            limitación de entendimiento <br> no es aprovechable. </p>
    </div>

    <div class="video-content">
        
        <img src="assets/img/yannis.jpg" alt="">
    </div>



</div>