.p-grid{
  margin: 0;
  padding: 0;
}
.content{
  margin: 25px 0;
}

.title{
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  //margin-bottom: 100px;
  h2{
    color: var(--primary-color);
  }
  button{
    width: 15rem;
    text-transform: uppercase;
  }
}

.img{
  display: flex;
  align-items: center;
  justify-content: center;
}


.information{
  min-height: 10vh;
  background-color: var(--primary-color);
  text-align: center;
  .p-col-12{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .information-image{
    //margin-top: -5rem;
    //height: 25rem;
    //margin-bottom: -7rem;
    //width: 30rem;
    margin: -2rem 0;

    img{
      width: 100%;
    }
  }
}
.content-information{
  width: 100%;
  margin-top: -10rem;
  color: #fff;
}

.wave-top{
  margin-bottom: -5px;
}
.wave-bott{
  transform: rotate(180deg);
  margin-top: -2px;
}

.text-info{
  text-align: center;
}

.video-content{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 25px 0;
  position: relative;
  img{
    width: 35vw;
  }
}