<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-12 p-lg-12 p-text-center">
        <h2 class="p-text-center">{{'guide.image.title' | translate}}</h2>
        <p>
            {{'guide.image.p1' | translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <h3>{{'guide.image.section1.title' | translate}}</h3>
        <p>
            {{'guide.image.section1.p1' | translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/imgalt.gif" alt="Editar la descripción ALT de una imagen." /> -->
        <video [title]="'guide.image.section1.videoTitle' | translate" src="assets/videos/imgalt.mp4" type="video/mp4"
            controls loop></video>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-divider></p-divider>
    </div>
    
    <div class="p-col-12 p-md-6 p-lg-6">
        <h3>{{'guide.image.section2.title' | translate}}</h3>
        <p>
            {{'guide.image.section2.p1' | translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/imgpreview.gif" alt="Agregar una previsualización de pantalla completa a una imagen." /> -->
        <video [title]="'guide.image.section2.videoTitle' | translate" src="assets/videos/imgpreview.mp4"
            type="video/mp4" controls loop></video>
    </div>
    
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-divider></p-divider>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <h3>{{'guide.image.section3.title' | translate}}</h3>
        <p>
            {{'guide.image.section3.p1' | translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/imgtable.gif" alt="Crear una tabla en formato HTML para remplazar una imagen." /> -->
        <video [title]="'guide.image.section3.videoTitle' | translate" src="assets/videos/imgtable.mp4" type="video/mp4"
            controls loop></video>
    </div>
</div>