<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h1>Adaptación de Videos</h1>
        <p>
            En esta sección veremos como adaptar un video para agregar un reproductor
            accesible.
        </p>
        <p>
            Para adaptar un video es importante tener en cuenta la fuente de video ya
            que no todas las fuentes proporcionan subtitulados recomendamos usar
            videos de YouTube o locales, para descargar el video y agregar en el
            reproductor solo dale click en el botón de Descargar video y subtítulos o
            generar subtitulo si la fuente es de un video local del objeto de
            aprendizaje, al terminar el proceso se agregará en el objeto de
            aprendizaje el nuevo video o los subtítulos.
        </p>
        <p>También puedes agregar subtítulos personales en formato STR.</p>
        <p>Listo ya casi terminamos.</p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/video.gif" alt="Adaptar un video." /> -->
        <video title="Adaptar un video." src="assets/videos/video.mp4" type="video/mp4" controls autoplay loop></video>
    </div>
</div>