<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h2>{{'guide.video.title' | translate}}</h2>
        <p>
            {{'guide.video.p1' | translate}}
        </p>
        <p>
            {{'guide.video.p2' | translate}}
        </p>
        <p>{{'guide.video.p3' | translate}}</p>
        <p>{{'guide.video.p4' | translate}}</p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <!-- <img loading="lazy" src="assets/gifs/video.gif" alt="Adaptar un video." /> -->
        <video [title]="'guide.video.title' | translate" src="assets/videos/video.mp4" type="video/mp4" controls loop></video>
    </div>
</div>