<div class="main-content">
    <div class="info-type">
        <div class="p-grid text-title">
            <div class="p-col-12 p-md-6 p-lg-6">
                <h4><span>Adaptadapta un objeto de aprendizaje</span> para una educacion mejor</h4>
            </div>
        </div>
        
        <div class="p-grid">
            <div class="p-col-12 p-md-4 p-lg-4 description">
                <p>Manual</p>
                <p>
                    Si desea modificar uno a uno cada elemento del objeto
                    de aprendizaje según su criterio.
                </p>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 description">
                <p>Automático</p>
                <p>
                    Si desea que nuestro algoritmo modifique el objeto de
                    aprendizaje; puede seleccionar los elementos que desea
                    adaptar.
                </p>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 description">
                <p>Mixto</p>
                <p>
                    Una combinación de los dos métodos anteriores.
                    Seleccione qué elementos desea que el algoritmo
                    adapte y cuáles no; podrá modificar los elementos si el
                    resultado no es el esperado.
                </p>
            </div>
        </div>

    </div>
</div>
