<div class="main-content">
    <div class="info-type">
        <div class="p-grid text-title">
            <div class="p-col-12 p-md-6 p-lg-6">
                <h2>{{'adapter.methods.title' | translate}}</h2>
            </div>
        </div>

        <div class="p-grid description" style="text-align:center">
            <div class="p-col-12 p-md-12 p-lg-6">
                <img loading="lazy" src="assets/img/svg1.svg" alt="{{'adapter.methods.handbook.altImage' | translate}}">
            </div>
            <div class="p-col-12 p-md-12 p-lg-6">
                <h4>{{'adapter.methods.handbook.title' | translate}}</h4>
                <p>{{'adapter.methods.handbook.description' | translate}}</p>
            </div>
        </div>

        <div class="p-grid description" style="text-align:center">
            <div class="p-col-12 p-md-12 p-lg-6">
                <h4>{{'adapter.methods.automatic.title' | translate}}</h4>
                <p>{{'adapter.methods.automatic.description' | translate}}</p>
            </div>
            <div class="p-col-12 p-md-12 p-lg-6 ">
                <img loading="lazy" src="assets/img/svg5.svg"
                    alt="{{'adapter.methods.automatic.altImage' | translate}}">
            </div>
        </div>

    </div>

    <div class="p-grid areas-description">
        <div class="p-col-0 p-md-1 p-lg-1"></div>
        <div class="p-col-12 p-md-10 p-lg-10">
            <h2>{{'adapter.areas.video.title' | translate}}</h2>
            <p>{{'adapter.areas.video.description' | translate}}</p>
            <p>{{'adapter.areas.video.description1' | translate}}</p>
            <figure>
                <img loading="lazy" src="assets/img/video.png" alt="{{'adapter.areas.video.altImage' | translate}}"
                    tabindex="1">
            </figure>
        </div>
        <div class="p-col-0 p-md-1 p-lg-1"></div>

        <div class="p-col-0 p-md-1 p-lg-1"></div>
        <div class="p-col-12 p-md-10 p-lg-10">
            <h2>{{'adapter.areas.btn.title' | translate}}</h2>
            <p>{{'adapter.areas.btn.description' | translate}}</p>
            <p>{{'adapter.areas.btn.description1' | translate}}</p>
            <figure>
                <img loading="lazy" src="assets/img/barra_adaptable.png"
                    alt="{{'adapter.areas.btn.altImage' | translate}}" tabindex="1">
            </figure>
        </div>
        <div class="p-col-0 p-md-1 p-lg-1"></div>

        <div class="p-col-0 p-md-1 p-lg-1"></div>
        <div class="p-col-12 p-md-10 p-lg-10">
            <h2>{{'adapter.areas.text.title' | translate}}</h2>
            <p>{{'adapter.areas.text.description' | translate}}</p>
            <p>{{'adapter.areas.text.description1' | translate}}</p>

            <figure>
                <img loading="lazy" src="assets/img/textos.png" alt="{{'adapter.areas.text.altImage' | translate}}"
                    tabindex="1">
            </figure>
        </div>
        <div class="p-col-0 p-md-1 p-lg-1"></div>
        <div class="p-col-0 p-md-1 p-lg-1"></div>
        <div class="p-col-12 p-md-10 p-lg-10">
            <h2>{{'adapter.areas.audio.title' | translate}}</h2>
            <p>{{'adapter.areas.audio.description' | translate}}</p>

            <figure>
                <img loading="lazy" src="assets/img/audio_to_text.PNG"
                    alt="{{'adapter.areas.audio.altImage' | translate}}" tabindex="1">
            </figure>
        </div>
        <div class="p-col-0 p-md-1 p-lg-1"></div>

        <div class="p-col-0 p-md-1 p-lg-1"></div>
        <div class="p-col-12 p-md-10 p-lg-10">
            <h2>{{'adapter.areas.img.title' | translate}}</h2>
            <p>{{'adapter.areas.img.description' | translate}}</p>

            <figure>
                <img loading="lazy" src="assets/img/alt_image.PNG" alt="{{'adapter.areas.img.altImage' | translate}}"
                    tabindex="1">
            </figure>
        </div>
        <div class="p-col-0 p-md-1 p-lg-1"></div>

    </div>
</div>