<p-card [style]="{'margin-bottom': '2em'}">

    <p>{{paragraph.text}}</p>



    <p-messages *ngIf="messages?.length > 0" [(value)]="messages" [enableService]="false"></p-messages>
    
    <div class="editor" *ngIf="edit">

        <ng-container *ngIf="loaderAdapted; else loaderTemplate">

            <div class="spinn">
                <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
                    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
            </div>

        </ng-container>
        <ng-template #loaderTemplate>
            <p-tabView styleClass="webview-container">
                <p-tabPanel header="Lectura fácil">
                    <ng-template pTemplate="header">
                        <i class="pi pi-pencil"></i>
                        <span>Lectura fácil</span>
                    </ng-template>
                    <angular-editor [placeholder]="'Lectura fácil...'" [(ngModel)]="htmlContent"
                        [config]="editorConfig">
                    </angular-editor>
                </p-tabPanel>
                <p-tabPanel header="Audio descriptivo">

                    <ng-container *ngIf="generateAudio; else generateTemplate">
                        <div class="progress_bar">
                            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                            <p>Generando audio descriptivo ...</p>
                        </div>
                    </ng-container>
                    <ng-template #generateTemplate>


                        <ng-template pTemplate="header">
                            <i class="pi pi-volume-up"></i>
                            <span>Audio descriptivo</span>
                        </ng-template>
                        <div class="audio-content">
                            <div class="default-audio" *ngIf="paragraphAdapted?.path_preview">
                                <p>Audio actual</p>
                                <audio class="audio audio-EACPBHCv" controls="" preload="none"
                                    [src]="paragraphAdapted.path_preview">
                                </audio>
                            </div>
    
                            <div class="select-audio" *ngIf="selectFile">
                                <ngx-dropzone class="dropzone" *ngIf="!loader" (change)="onSelect($event)"
                                    accept=" audio/*">
                                    <ngx-dropzone-label>
                                        <h6>Arrastre o seleccione un archivo.</h6>
                                        <p-button label="Seleccionar archivo" icon="pi pi-cloud-upload"
                                            styleClass="p-button">
                                        </p-button>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-preview *ngIf="file" (removed)="onRemove()" [removable]="true"
                                        ngProjectAs="ngx-dropzone-preview" [file]="file">
                                        <ngx-dropzone-label>{{ file.name }}</ngx-dropzone-label>
    
                                    </ngx-dropzone-preview>
                                </ngx-dropzone>
                                <div class="buttons" *ngIf="file">
                                    <button (click)="onCancelSelection()" pButton pRipple type="button" icon="pi pi-times"
                                        label="Cancelar" class="p-button-danger"></button>
                                    <!-- <button pButton pRipple type="button" label="Guardar" icon="pi pi-check"></button> -->
                                </div>
                            </div>
    
                            <div class="or-selectction" *ngIf="!file && !recordAudio">
                                <span>O</span>
    
                               <div class="buttons-options">
                                <button id="audio-recor" (click)="onGenerateAudio()" pButton pRipple type="button"
                                label="Generar audio" class="p-button-outlined"></button>
                                <button id="audio-recor" (click)="onRecorAudio()" pButton pRipple type="button"
                                label="Grabe un audio" class="p-button-text"></button>
                               </div>
                            </div>
    
                            <div class="record-audio" *ngIf="recordAudio">
                                <ng-container *ngIf="permis; else parmisTemplate">
                                    <span>{{hourRecord}}:{{minRecord}}:{{secRecord}}</span>
                                    <div class="buttons-record">
                                        <!-- pi-pause -->
                                        <button (click)="record()" pButton pRipple type="button"
                                            [icon]="rec ? 'pi pi-pause' : 'pi pi-play'"
                                            class="p-button-rounded p-button-danger p-button-outlined"></button>
                                        <button (click)="stopRecord()" *ngIf="recording" pButton pRipple type="button"
                                            icon="pi pi-check"
                                            class="p-button-rounded p-button-success p-button-outlined"></button>
                                    </div>
                                    <div class="record-player" *ngIf="audioURL">
                                        <audio id="recordPlayer" [src]="audioURL | blobsanitizer" class="audio"
                                            #recordPlayer controls preload="none">
                                        </audio>
                                        <a id="audioDownload" pButton pRipple #audioDownload type="button"
                                            icon="pi pi-download"
                                            class="p-button-rounded p-button-primary p-button-outlined"></a>
    
                                    </div>
                                </ng-container>
                                <ng-template #parmisTemplate>
                                    <p>{{permisText}}</p>
    
                                </ng-template>
    
                                <div class="buttons">
                                    <button (click)="onCancelSelection()" pButton pRipple type="button" icon="pi pi-times"
                                        label="Cancelar" class="p-button-danger"></button>
                                    <!-- <button [disabled]="!fileRecord" label="Guardar" pButton pRipple type="button"
                                        icon="pi pi-check"></button> -->
                                </div>
                            </div>
                        </div>
                        
                    </ng-template>
                    
                </p-tabPanel>
            </p-tabView>
        </ng-template>

    </div>

    <ng-template pTemplate="footer">
        <div class="footer-buttons">
            <ng-container *ngIf="edit; else buttonTemplate">
                <!-- file || !fileRecord ||  -->
                <p-button [disabled]="(!htmlContent && (!fileRecord && !file)) || updateParagraph" (click)="onSave()"
                    [label]="updateParagraph ? 'Guardando...' : 'Guardar'" icon="pi pi-check"
                    [loading]="updateParagraph"></p-button>

                <button (click)="edit = false" pButton pRipple type="button" icon="pi pi-times" label="Cerrar"
                    class="p-button-danger"></button>
            </ng-container>
            <ng-template #buttonTemplate>
                <p-button (click)="editParagraph()" label="Editar" icon="pi pi-check" [loading]="updateParagraph">
                </p-button>

            </ng-template>
        </div>
    </ng-template>

</p-card>