<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h1>Descargar Objeto de Aprendizaje Adaptado</h1>
        <p>
            Al descargar el objeto de aprendizaje adaptado asegúrate de haber completado los cambios deseados y revisa
            los metadatos que se agregaran al objeto de aprendizaje.
        </p>
        <p>
            Cuando estes listo puedes dar click en el botón de Descargar OA adaptado para ver un resumen de lo que se ah
            realizado y proceder con la descarga esto pude tardar así que relájate y espera a que terminé el proceso.
        </p>
        <p>Estas listo para empezar a adaptar tus objetos de aprendizaje.</p>

    </div>
    <div class="p-col-12 p-md-6 p-lg-6">
        <img loading="lazy" src="assets/gifs/download.gif" alt="Como descargar un objeto de aprendizaje adaptado." />
    </div>
</div>