.contact-us {
  background-size: cover;
  background-position: center;
  height: 90vh;
  .p-grid {
    height: 100%;
  }
}

.p-grid {
  margin: 0;
}

.text.main-content {
  text-align: justify;
}
.content-info {
  padding: 10px;
  //background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  overflow: visible;
  text-align: left;
  font-size: 1.2em;
}

.forms-content {
  //background-color: red;
  //margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-grid-n {
  padding: 25px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  border-radius: 5px;
  .button {
    width: 100%;
    text-align: center;
  }
}

.p-field {
  label {
    color: white;
    //background: #006ce1;
    // padding: 10px;
    // border-radius: 50px;
    // width: 100%;
  }
  textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
  }
}

.api-description {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.3em;
  p {
    text-align: justify;
  }
  img {
    max-width: 100%;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
  }
}

pre {
  border-radius: 20px;
  //border: 5px solid var(--primary-color);
  outline: 1px solid var(--primary-color);
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  font-size: 0.7em;
}

table,
th,
td {
  border: 1px solid #006ce1;
  border-collapse: collapse;
}

table {
  background-color: #fff;
  thead {
    background-color: #006ce1;
    color: #fff;
    th {
      padding: 10px;
    }
  }
  tbody {
    tr {
      td {
        padding: 10px;
      }
    }
  }
}
.resalt {
  color: #006ce1;
}
