
<p-toast></p-toast>
   <p-card  [style]="{'margin-bottom': '2em'}">  
            <img src="{{item.link}}" alt="">
        <h1>{{mensaje}}</h1>
        <h6>Descripcion alt de la imagen :</h6>
        <div class="text-description" *ngIf="!edit">
            <p> {{item.text}}</p>
        </div>
        <form action="" [formGroup]="angForm" id="formAdapte" *ngIf="edit">
          <input style="width:100%" type="text" formControlName="{{item.id}}" pInputText >
        </form>

        <ng-template pTemplate="footer" class="container-buttons">
            <ng-container *ngIf="edit; else buttonTemplate" class="container-buttons">
                <div class="btn-sucessfull">
                    <p-button (click)="onSave(item.id)" label="Guardar" icon="pi pi-check" ></p-button>
                </div>
                <div class="btn-cancel">
                    <button pButton (click)="cancel(item.id)" pRipple type="button" label="Cancelar" class="p-button-danger" icon ="pi pi-times"></button>
                </div>
               </ng-container>
            <ng-template #buttonTemplate>
                <p-button (click)="cliclEdit(item.id,item.text)" label="Editar" icon="pi pi-check"></p-button>
            </ng-template>
        </ng-template>
        
    </p-card>

