<div class="p-mt-2" style="display: flex; align-items: center">
    <p>{{'edit.textAdaptation' | translate}}</p>
    <p-inputSwitch (onChange)="onChangeRevert()" class="p-ml-1" [(ngModel)]="item.adaptation"></p-inputSwitch>
</div>

<p-card #pnl [style]="{ 'margin-bottom': '2em' }">
    <p-blockUI [target]="pnl" [blocked]="!item.adaptation">
        <i class="pi pi-lock" style="font-size: 3rem; color: white"></i>
    </p-blockUI>

    <div class="contenedor-desc-img" *ngIf="!item.text_table && !flag_text_table">
        <div class="fullscreen p-mb-1">
            <p>{{'edit.img.imgPreview' | translate}}</p>
            <p-inputSwitch (onChange)="onChangeViewFullScreenImage($event, item)" class="p-ml-1"
                [(ngModel)]="item.img_fullscreen"></p-inputSwitch>
        </div>
        <div class="image-content">
            <div class="photo-product">
                <a href="{{ item.link }}" class="fancybox" data-lightbox="gallery1">
                    <!-- <div class="iono-eye">
                            <i class="pi pi-eye" id ="icono"></i>
                        </div> -->
                    <img src="{{ item.link }}" alt="{{ item.text }}" [pTooltip]="'edit.img.toast' | translate"
                        tooltipPosition="bottom"  />
                </a>
            </div>
        </div>
        <h6>{{'edit.img.description' | translate}}</h6>
        <div class="text-description" *ngIf="!edit">
            <p>{{ item.text }}</p>
        </div>
    </div>
    <div class="contenedor-desc-table" *ngIf="item.text_table || flag_text_table">
        <div [innerHTML]="item.text_table"></div>
    </div>

    <form action="" [formGroup]="angForm" id="formAdapte" *ngIf="edit">
        <input style="width: 100%" type="text" formControlName="{{ item.id }}" pInputText />
    </form>

    <p-dialog [header]="'edit.img.table.title' | translate" [(visible)]="displayModal" [modal]="true"
        [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false">
        <div class="conjunto-img-input">
            <div class="image-content-img">
                <div class="photo-product">
                    <a href="{{ item.link }}" class="fancybox" data-lightbox="gallery1">
  
                        <img src="{{ item.link }}" alt="{{ item.text }}" [pTooltip]="'edit.img.toast' | translate"
                            tooltipPosition="bottom"  />
                    </a>
                </div>
            </div>
            <div class="create-table">
                <label for="name" style="color: gray; padding: 10px 10px">
                    {{'edit.img.table.description' | translate}}</label>
                <br />
                <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="table_result"></ckeditor>
                <p-messages></p-messages>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="bt-list" style="display: flex; align-items: center;">
                <div class="btn-save">
                    <p-confirmPopup></p-confirmPopup>
                    <button pButton pRipple icon="pi pi-check" (click)="confirm($event, item.id)"
                        [label]="'edit.img.btnSave' | translate" styleClass="p-button-text"></button>
                </div>
                <div class="btn-cancel">
                    <button pButton pRipple type="button" [label]="'edit.img.btnCancel' | translate"
                        class="p-button-danger" (click)="cancelGenerate()" icon="pi pi-times"></button>
                </div>
            </div>
        </ng-template>
    </p-dialog>

    <p-messages></p-messages>

    <ng-template pTemplate="footer" class="container-buttons">
        <ng-container *ngIf="edit; else buttonTemplate" class="container-buttons">
            <div class="btn-sucessfull">
                <p-button (click)="onSave(item.id)" [label]="'edit.img.btnSave' | translate" icon="pi pi-check">
                </p-button>
            </div>
            <div class="btn-cancel">
                <button pButton (click)="cancel(item.id)" pRipple type="button"
                    [label]="'edit.img.btnCancel' | translate" class="p-button-danger" icon="pi pi-times"></button>
            </div>
        </ng-container>
        <ng-template #buttonTemplate>
            <div class="principal-buttons" *ngIf="!item.text_table && !flag_text_table">
                <div class="btn-sucessfull">
                    <p-button (click)="cliclEdit(item.text)" [label]="'edit.img.btnEdit' | translate"
                        icon="pi pi-check">
                    </p-button>
                </div>

                <div class="btn-sucessfull" *ngIf="!edit">
                    <button pButton pRipple (click)="showModalDialog()" class="p-button-success"
                        [label]="'edit.img.btnCreateTable' | translate" icon="pi pi-save"></button>
                </div>

                <div class="btn-sucessfull"  *ngIf="(item.image_map == null || item.image_map == '') && editMapImageBoolean == false">
                    <button pButton pRipple class="p-button-success" label="{{'adapter.areas.img.createMapImage' | translate}}"
                        (click)="createMapImage = true;addImageCanvas()" icon="pi pi-save">
                    </button>
                </div>
                
                <div class="second-button-edit-map" *ngIf="editMapImageBoolean == true">
                    <div class="btn-sucessfull">
                        <p-button (click)="editaCanvas()" label="{{'adapter.areas.img.editarMapImage' | translate}}" icon="pi pi-check">
                        </p-button>
                    </div>
                </div>
                
            </div>
            <div class="second-button" *ngIf="item.text_table || flag_text_table">
                <div class="btn-sucessfull">
                    <p-button (click)="showModalDialogEdit()" label="Editar tabla" icon="pi pi-check">
                    </p-button>
                </div>
            </div>

            
            
        </ng-template>
    </ng-template>
</p-card>

<p-dialog [header]="editMapImageBoolean == true ? ('adapter.areas.img.editarMapImage' | translate):('adapter.areas.img.createMapImage' | translate)" [(visible)]="createMapImage" [modal]="true" [style]="{ width: '70vw' }"
    id="modalImageMap" [draggable]="false" [resizable]="false">
    <div #dialog>
        <div style="display: grid; grid-template-columns: repeat(1,1fr); gap: 1rem">
            <label for="name">{{"adapter.areas.img.selectFigure" | translate}}</label>
            <p-dropdown [options]="figures" [(ngModel)]="figureMapImage" placeholder="{{'adapter.areas.img.selectInfo' | translate}}"
                optionLabel="name" optionValue="code" (onChange)="resetMessage()"></p-dropdown>
                <small class="p-error" *ngIf="figureMapImageBoolean" >{{"adapter.areas.img.errorSelect" | translate}}</small>
        </div>
        <div id="separador">
            <div class="container-title-button" style="width:  100%; display: flex; flex-wrap: wrap;padding-top:1em;padding-bottom: 1em; ">
                <h3>{{"adapter.areas.img.desciptionMap" | translate}}</h3> 
                <button pButton pRipple label="{{'adapter.areas.img.goBack' | translate}}" icon="pi pi-replay" class="p-button-danger" (click)="removeItemOld()" [disabled]="figureMapImage == ''" style="margin-left: auto;"></button>
            </div>
            <div id="containerCanvas" style="overflow-y: scroll; overflow-x: scroll; position: relative;">
                <canvas #myCanvas id="camvas" style="border: 1px solid" (mousedown)="onMouseDown($event)"
                    (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)">
                </canvas>
            </div>
            <div class="button-container" style="text-align: center;">
                <button pButton pRipple label="{{'adapter.areas.img.saveMap' | translate}} " icon="pi pi-check" class="p-button-success" [disabled]="arrayTextArea.length == 0"
                (click)="guardar()" style="margin-left: auto;"></button>

            </div>
        </div>
    </div>

    <p-messages></p-messages>
</p-dialog>
