<div class="p-mt-2" style="display: flex; align-items: center">
    <p>{{'edit.textAdaptation' | translate}}</p>
    <p-inputSwitch (onChange)="onChangeRevert()" class="p-ml-1" [(ngModel)]="item.adaptation"></p-inputSwitch>
</div>

<p-card #pnl [style]="{ 'margin-bottom': '2em' }">
    <p-blockUI [target]="pnl" [blocked]="!item.adaptation">
        <i class="pi pi-lock" style="font-size: 3rem; color: white"></i>
    </p-blockUI>

    <div class="contenedor-desc-img" *ngIf="!item.text_table && !flag_text_table">
        <div class="fullscreen p-mb-1">
            <p>{{'edit.img.imgPreview' | translate}}</p>
            <p-inputSwitch (onChange)="onChangeViewFullScreenImage($event, item)" class="p-ml-1"
                [(ngModel)]="item.img_fullscreen"></p-inputSwitch>
        </div>
        <div class="image-content">
            <div class="photo-product">
                <a href="{{ item.link }}" class="fancybox" data-lightbox="gallery1">
                    <!-- <div class="iono-eye">
                            <i class="pi pi-eye" id ="icono"></i>
                        </div> -->
                    <img src="{{ item.link }}" alt="{{ item.text }}" [pTooltip]="'edit.img.toast' | translate"
                        tooltipPosition="bottom" tabindex="1" />
                </a>
            </div>
        </div>
        <h6>{{'edit.img.description' | translate}}</h6>
        <div class="text-description" *ngIf="!edit">
            <p>{{ item.text }}</p>
        </div>
    </div>
    <div class="contenedor-desc-table" *ngIf="item.text_table || flag_text_table">
        <div [innerHTML]="item.text_table"></div>
    </div>

    <form action="" [formGroup]="angForm" id="formAdapte" *ngIf="edit">
        <input style="width: 100%" type="text" formControlName="{{ item.id }}" pInputText />
    </form>

    <p-dialog [header]="'edit.img.table.title' | translate" [(visible)]="displayModal" [modal]="true"
        [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false">
        <div class="conjunto-img-input">
            <div class="image-content-img">
                <div class="photo-product">
                    <a href="{{ item.link }}" class="fancybox" data-lightbox="gallery1">
  
                        <img src="{{ item.link }}" alt="{{ item.text }}" [pTooltip]="'edit.img.toast' | translate"
                            tooltipPosition="bottom" tabindex="1" />
                    </a>
                </div>
            </div>
            <div class="create-table">
                <label for="name" style="color: gray; padding: 10px 10px">
                    {{'edit.img.table.description' | translate}}</label>
                <br />
                <ckeditor [editor]="Editor" [config]="config" [(ngModel)]="table_result"></ckeditor>
                <p-messages></p-messages>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="bt-list" style="display: flex; align-items: center;">
                <div class="btn-save">
                    <p-confirmPopup></p-confirmPopup>
                    <button pButton pRipple icon="pi pi-check" (click)="confirm($event, item.id)"
                        [label]="'edit.img.btnSave' | translate" styleClass="p-button-text"></button>
                </div>
                <div class="btn-cancel">
                    <button pButton pRipple type="button" [label]="'edit.img.btnCancel' | translate"
                        class="p-button-danger" (click)="cancelGenerate()" icon="pi pi-times"></button>
                </div>
            </div>
        </ng-template>
    </p-dialog>

    <p-messages></p-messages>

    <ng-template pTemplate="footer" class="container-buttons">
        <ng-container *ngIf="edit; else buttonTemplate" class="container-buttons">
            <div class="btn-sucessfull">
                <p-button (click)="onSave(item.id)" [label]="'edit.img.btnSave' | translate" icon="pi pi-check">
                </p-button>
            </div>
            <div class="btn-cancel">
                <button pButton (click)="cancel(item.id)" pRipple type="button"
                    [label]="'edit.img.btnCancel' | translate" class="p-button-danger" icon="pi pi-times"></button>
            </div>
        </ng-container>
        <ng-template #buttonTemplate>
            <div class="principal-buttons" *ngIf="!item.text_table && !flag_text_table">
                <div class="btn-sucessfull">
                    <p-button (click)="cliclEdit(item.text)" [label]="'edit.img.btnEdit' | translate"
                        icon="pi pi-check">
                    </p-button>
                </div>

                <div class="btn-sucessfull" *ngIf="!edit">
                    <button pButton pRipple (click)="showModalDialog()" class="p-button-success"
                        [label]="'edit.img.btnCreateTable' | translate" icon="pi pi-save"></button>
                </div>
            </div>
            <div class="second-button" *ngIf="item.text_table || flag_text_table">
                <div class="btn-sucessfull">
                    <p-button (click)="showModalDialogEdit()" label="Editar tabla" icon="pi pi-check">
                    </p-button>
                </div>
            </div>
        </ng-template>
    </ng-template>
</p-card>