<div class="about-us" style='background-image: url("assets/img/santi-vedri.jpg");'>
    <div class="p-grid">
        <div class="p-col-1 p-md-6 p-lg-6">
            <!-- <img loading="lazy" class="img-col" src="assets/img/undraw_status_update_re_dm9y.svg" alt="Icono nosotros"> -->
        </div>
        <div class="p-col-11 p-md-6 p-lg-6 content-info">
            <div class="text main-content">
                <h2>{{'about.section1.title' | translate}}</h2>
                <p>{{'about.section1.description' | translate}}</p>
            </div>
        </div>
    </div>
</div>

<div class="p-grid text-values">
    <div class="p-col-12 p-md-6 p-lg-6">

        <img loading="lazy" class="img-col" src="assets/img/svg2.svg" alt="{{'about.section2.altImage' | translate}}"
            tabindex="1">

    </div>
    <div class="p-col-12 p-md-6 p-lg-6 main-content our-mission">

        <h2>{{'about.section2.title' | translate}}</h2>
        <!-- <p>Promover la inclusión educativa y la diversidad <br> como catalizadores a las tecnologías accesibles, la
            calidad, la innovación <br> y el trabajo en equipo</p> -->
        <p>{{'about.section2.description' | translate}}</p>

    </div>
    <div class="p-col-12 p-md-12 p-lg-12 main-content our-values">
        <h2>{{'about.section3.title' | translate}}</h2>
        <p>{{'about.section3.description' | translate}}</p>
        <div class="p-grid main-content">
            <div class="p-col-12 p-md-4 p-lg-4 item">
                <i class="pi pi-users" style="font-size: 3rem; color: blue;"></i>
                <h3>{{'about.section3.card1.title' | translate}}</h3>
                <p>{{'about.section3.card1.description' | translate}}</p>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 item">
                <i class="pi pi-chart-bar" style="font-size: 3rem; color: green;"></i>
                <h3>{{'about.section3.card2.title' | translate}}</h3>
                <p>{{'about.section3.card2.description' | translate}}</p>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 item">
                <i class="pi pi-heart" style="font-size: 3rem; color: red;"></i>
                <h3>{{'about.section3.card3.title' | translate}}</h3>
                <p>{{'about.section3.card3.description' | translate}}</p>
            </div>
        </div>
    </div>

    <h2 style="margin-left: 5px; text-align: center; width: 100%;">{{'about.section4.title' | translate}}</h2>
    <p style="margin-left: 5px; text-align: center; width: 100%;">{{'about.section4.description' | translate}}</p>
    <div class="p-grid">

        <div class="p-col-12 p-md-4 p-lg-3">
            <p-card header="{{'about.section4.card1.title' | translate}}"
                subheader="{{'about.section4.card1.description' | translate}}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img loading="lazy" alt="Card" src="assets/img/develop.png"
                        alt="{{'about.section4.card1.altImage' | translate}}" tabindex="1">
                </ng-template>
                <p>{{'about.section4.card1.role' | translate}}</p>
                <ng-template pTemplate="footer">
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:cmaldonadom3@est.ups.edu.ec">
                                cmaldonadom3@est.ups.edu.ec</a></span>
                    </div>
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:claudio.mldo@outlook.com">
                                claudio.mldo@outlook.com</a></span>
                    </div>
                    <!-- <div class="email">
                            <i class="pi pi-linkedin"></i> <span><a href="mailto:claudio.mldo@outlook.com">
                                    claudio.mldo@outlook.com</a></span>
                        </div> -->
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3">
            <p-card header="{{'about.section4.card2.title' | translate}}"
                subheader="{{'about.section4.card2.description' | translate}}" styleClass="p-card-shadow">
                <ng-template pTemplate="header" style="border-radius: 50%;background: gray;">
                    <img loading="lazy" alt="Card" src="assets/img/develop3.png"
                        alt="{{'about.section4.card2.altImage' | translate}}" tabindex="1">
                </ng-template>
                <p>{{'about.section4.card2.role' | translate}}</p>
                <ng-template pTemplate="footer">
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:emarquezl@est.ups.edu.ec">
                                emarquezl@est.ups.edu.ec</a></span>
                    </div>
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:edwi1999@hotmail.com">
                                edwi1999@hotmail.com</a></span>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3">
            <p-card header="{{'about.section4.card3.title' | translate}}"
                subheader="{{'about.section4.card3.description' | translate}}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img loading="lazy" alt="Card" src="assets/img/developW.png"
                        alt="{{'about.section4.card3.altImage' | translate}}" tabindex="1">
                </ng-template>
                <p>{{'about.section4.card3.role' | translate}}</p>
                <ng-template pTemplate="footer">
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:pcingavelez@ups.edu.ec">
                                pcingavelez@ups.edu.ec</a></span>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3">
            <p-card header="{{'about.section4.card4.title' | translate}}" subheader="Docente"
                styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img loading="lazy" alt="Card" src="assets/img/develop1.png"
                        alt="{{'about.section4.card4.description' | translate}}" tabindex="1">
                </ng-template>
                <p>{{'about.section4.card4.role' | translate}}</p>
                <ng-template pTemplate="footer">
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:aperezm@ups.edu.ec">
                                aperezm@ups.edu.ec</a></span>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

</div>