<div class="main-content about-us">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-7">
            <img class="img-col" src="assets/img/undraw_status_update_re_dm9y.svg" alt="Icono nosotros">
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="content-info">
                <h2>DESARROLLADORES</h2>
                <p>Somos un equipo de trabajo que brinda su servicio arduamente a la
                    comunidad con nuestros conocimientos dentro de los diferentes entornos de desarrollo 
                    tecnológico, con habilidades excepcionales dispuestos ha
                    ayudarte con herramientas tecnológicas.</p>
            </div>
        </div>
    </div>
</div>