<div class="about-us" style='background-image: url("assets/img/santi-vedri.jpg");'>
    <div class="p-grid">
        <div class="p-col-1 p-md-6 p-lg-6">
            <!-- <img loading="lazy" class="img-col" src="assets/img/undraw_status_update_re_dm9y.svg" alt="Icono nosotros"> -->
        </div>
        <div class="p-col-11 p-md-6 p-lg-6 content-info">
            <div class="text main-content">
                <!-- <h2>Construyendo un mundo mejor</h2> -->
                <h2>Por una educación de calidad</h2>
                <p>Somos un equipo de trabajo que brinda su servicio arduamente a la
                    comunidad con nuestros conocimientos dentro de los diferentes entornos de desarrollo
                    tecnológico, con habilidades excepcionales dispuestos ha
                    ayudar con herramientas tecnológicas sin animo de lucro.</p>
            </div>
        </div>
    </div>
</div>

<div class="p-grid text-values">
    <div class="p-col-12 p-md-6 p-lg-6">

        <img loading="lazy" class="img-col" src="assets/img/svg2.svg" alt="Icono de idea" tabindex="1">

    </div>
    <div class="p-col-12 p-md-6 p-lg-6 main-content our-mission">

        <h2>Nuestra misión</h2>
        <p>Promover la inclusión educativa y la diversidad <br> como catalizadores a las tecnologías accesibles, la
            calidad, la innovación <br> y el trabajo en equipo</p>

    </div>
    <div class="p-col-12 p-md-12 p-lg-12 main-content our-values">
        <h2>Nuestros valores</h2>
        <p>Nuestros valores nos son lo mas importante para el trabajo en equipo <br> para ayudar a construir un mundo
            mejor.</p>
        <div class="p-grid main-content">
            <div class="p-col-12 p-md-4 p-lg-4 item">
                <i class="pi pi-users" style="font-size: 3rem; color: blue;"></i>
                <h4>Trabajo en Equipo</h4>
                <p>Trabajo en equipo de forma colaborativa, creando grupos de trabajos responsables y dispuestos a
                    ayudar a la sociedad con apoyo tecnológico. </p>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 item">
                <i class="pi pi-chart-bar" style="font-size: 3rem; color: green;"></i>
                <h4>Innovación</h4>
                <p>Desarrollo y aplicación eficiente de tecnologías accesibles en la Educación Superior que contribuyan
                    a la inclusión, participación y a la empleabilidad.</p>
            </div>
            <div class="p-col-12 p-md-4 p-lg-4 item">
                <i class="pi pi-heart" style="font-size: 3rem; color: red;"></i>
                <h4>Compromiso</h4>
                <p>Compromiso con la sociedad con el apoyo tecnológico para una educación inclusiva de calidad, tenemos
                    el compromiso de brindar mejor calidad de vida a todos mediante herramientas tecnológicas de
                    calidad. </p>
            </div>
        </div>
    </div>

        <h2 style="margin-left: 5px; text-align: center; width: 100%;">Grupo de trabajo OER ADAP</h2>
        <div class="p-grid">
        
            <div class="p-col-12 p-md-4 p-lg-3">
                <p-card header="Ing. Claudio Maldonado" subheader="Desarrollo FrontEnd - BackEnd" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img loading="lazy" alt="Card" src="assets/img/develop.png" alt="Imagen de icono de representación del desarrollador" tabindex="1">
                    </ng-template>
                    <p>Asistente de investigación </p>
                    <ng-template pTemplate="footer">
                        <div class="email">
                            <i class="pi pi-envelope"></i> <span><a href="mailto:cmaldonadom3@est.ups.edu.ec">
                                    cmaldonadom3@est.ups.edu.ec</a></span>
                        </div>
                        <div class="email">
                            <i class="pi pi-envelope"></i> <span><a href="mailto:claudio.mldo@outlook.com">
                                    claudio.mldo@outlook.com</a></span>
                        </div>
                    </ng-template>
                </p-card>
            </div>
            <div class="p-col-12 p-md-4 p-lg-3">
                <p-card header="Ing. Edwin Marquez" subheader="Desarrollo FrontEnd - BackEnd" styleClass="p-card-shadow">
                    <ng-template pTemplate="header" style="border-radius: 50%;background: gray;">
                        <img loading="lazy" alt="Card" src="assets/img/develop3.png" alt="Imagen de icono de representación del desarrollador" tabindex="1">
                    </ng-template>
                    <p>Asistente de investigación </p>
                    <ng-template pTemplate="footer">
                        <div class="email">
                            <i class="pi pi-envelope"></i> <span><a href="mailto:emarquezl@est.ups.edu.ec">
                                    emarquezl@est.ups.edu.ec</a></span>
                        </div>
                        <div class="email">
                            <i class="pi pi-envelope"></i> <span><a href="mailto:edwi1999@hotmail.com">
                                    edwi1999@hotmail.com</a></span>
                        </div>
                    </ng-template>
                </p-card>
            </div>
            <div class="p-col-12 p-md-4 p-lg-3">
                <p-card header="Ing. Paola Ingavelez" subheader="Docente" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img loading="lazy" alt="Card" src="assets/img/developW.png" alt="Imagen de icono de representación del desarrollador" tabindex="1">
                    </ng-template>
                    <p>Docente de la Universidad Politécnica Salesiana sede Cuenca</p>
                    <ng-template pTemplate="footer">
                        <div class="email">
                            <i class="pi pi-envelope"></i> <span><a href="mailto:pcingavelez@ups.edu.ec">
                                pcingavelez@ups.edu.ec</a></span>
                        </div>
                    </ng-template>
                </p-card>
            </div>
            <div class="p-col-12 p-md-4 p-lg-3">
                <p-card header="Ing. Ángel Pérez " subheader="Docente" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img loading="lazy" alt="Card" src="assets/img/develop1.png" alt="Imagen de icono de representación del desarrollador" tabindex="1">
                    </ng-template>
                    <p>Docente de la Universidad Politécnica Salesiana sede Cuenca</p>
                    <ng-template pTemplate="footer">
                        <div class="email">
                            <i class="pi pi-envelope"></i> <span><a href="mailto:aperezm@ups.edu.ec">
                                aperezm@ups.edu.ec</a></span>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
   
</div>