<div class="main-content animate__animated animate__fadeIn">
    <div class="terms-content">
        <h2>Términos de uso y condiciones legales de la plataforma OERAdap</h2>
        <div class="term">
            <p>
                Este proyecto ha sido financiado con la ayuda de Erasmus+. Los
                contenidos son responsabilidad de su actor y de ningun modo debe
                considerarse que refleja la opinion oficial de Erasmus+
            </p>
            <h3>Objetivo</h3>
            <p>
                La Universidad Politécnica Salesiana de la ciudad de Cuenca con
                dirección Calle Vieja 12-30 y Elia Liut conjunto con el grupo de
                investigación de la Cátedra UNESCO EduTech ha desarrollado la plataforma
                denominada ROA, Como plataforma libre y sin fines comerciales destinada
                a cualquier usuario y todo miembro de nivel académico. Al acceder a la
                plataforma y/o hacer uso de esta, el visitante acepta los siguientes
                términos expresados en este documento.
            </p>
            <h3>Condiciones de uso</h3>
            <p>
                Tanto como el usuario que navega anónimamente como los usuarios
                registrados en el sitio están sujetos a aceptar las siguientes
                condiciones de uso del servicio del sitio web:
            </p>
            <ul>
                <li>
                    <p>
                        El usuario se compromete a no utilizar la aplicación para fines
                        comerciales, ni para la realización de actividades ilegales, ni para
                        la realización de actividades que atenten contra los derechos de
                        terceros.
                    </p>
                </li>
                <li>
                    <p>
                        La información proporcionada es de uso personal y única del usuario
                        que se registra.
                    </p>
                </li>
                <li>
                    <p>
                        La información que se proporciona al registrarse se debe mantener
                        oculta y no compartirla con nadie.
                    </p>
                </li>
                <li>
                    <p>
                        Todos los usuarios deben guardar moderación en comentarios del
                        sitio.
                    </p>
                </li>
                <li>
                    <p>Mostrar respeto a los demás usuarios del sito.</p>
                </li>
                <li>
                    <p>
                        Para descarga el objeto de aprendizaje se te pedirá tu ubicación,
                        puedes compartirnos o no, este dato es estadístico para el sitio
                        web, no guardamos información personal como geolocalización, puntos
                        de coordenadas, ip o datos del dispositivo, únicamente datos de
                        nombre del país de ubicación y el conteo de los recursos que se
                        realizaron en la página.
                    </p>
                </li>

            </ul>
            <h3>Uso de cookies</h3>
            <p>
                El uso de las cookies para almacenar información netamente de referencia
                de un registro, no se almacena información personal o del usuario
                visitante, todos los valores almacenados están debidamente encriptados.
            </p>
            <h3>Uso de la información</h3>
            <p>
                La información que se proporciona al registrarse en el sitio web es de
                uso personal y único del usuario que se registra o sube los datos, la
                información que se proporciona al registrarse se debe mantener oculta y
                no compartirla con nadie, la información que se proporciona al
                registrarse es para fines estadísticos y de uso personal del usuario.
            </p>
            <h3>Propiedad intelectual</h3>
            <p>
                El contenido de la plataforma es propiedad de la Universidad Politécnica
                Salesiana de la ciudad de Cuenca con dirección Calle Vieja 12-30 y Elia
                Liut, el contenido de la plataforma es de uso libre y gratuito para
                cualquier usuario, el contenido de la plataforma puede ser compartido y
                distribuido libremente siempre y cuando se cite la fuente de origen.
            </p>
            <p>
                El contenido que se suba a la plataforma puede ser modificado, adaptado, traducido,
                reproducido, distribuido, transmitido, exhibido, publicado o
                comercializado, únicamente si el que sube es el autor de dicho contenido, la plataforma no se
                responsabiliza por el contenido distribuido por el autor.
            </p>
            <h3>Responsabilidad</h3>
            <p>
                La Universidad Politécnica Salesiana de la ciudad de Cuenca con
                dirección Calle Vieja 12-30 y Elia Liut no se hace responsable por el
                uso indebido de la plataforma, el contenido de la plataforma es de uso
                libre y gratuito para cualquier usuario, el contenido de la plataforma
                puede ser compartido y distribuido libremente siempre y cuando se cite
                la fuente de origen.
            </p>
            <h3>Modificaciones</h3>
            <p>
                La Universidad Politécnica Salesiana de la ciudad de Cuenca con
                dirección Calle Vieja 12-30 y Elia Liut se reserva el derecho de
                modificar los términos y condiciones de uso de la plataforma en
                cualquier momento, por lo que se recomienda revisar periódicamente los
                términos y condiciones de uso de la plataforma.
            </p>
            <h3>Privacidad</h3>
            <p>
                La Universidad Politécnica Salesiana de la ciudad de Cuenca con
                dirección Calle Vieja 12-30 y Elia Liut no almacena información personal
                de los usuarios, la información que se proporciona al registrarse en el
                sitio web es de uso personal y único del usuario que se registra, la
                información que se proporciona al registrarse se debe mantener oculta y
                no compartirla con nadie, la información que se proporciona al
                registrarse es para fines estadísticos y de uso personal del usuario.
            </p>
        </div>
    </div>
</div>