<div class="p-grid layout-footer main-content">
    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="box content">
            <div class="logo-text">
                <div class="image">
                    <img loading="lazy" src="assets/img/image2vector.svg" alt="Logotipo de EduTech" tabindex="1" />
                </div>

                <div class="text" style="width: 100%">
                    <p>{{ "footer.title" | translate }}</p>
                    <!-- <p-dropdown [ngStyle]="{'width': '100%'}" (onChange)="onChangLanguage($event)" [options]="countries" [(ngModel)]="selectedCountry" placeholder="Seleccione un idioma"
                        optionLabel="name" optionValue="code" [showClear]="false">
                    </p-dropdown> -->
                    <select class="class-dropdown-i"
                        [(ngModel)]="language"
                        [attr.aria-controls]="'footer.select'| translate" (change)="onChangLanguage($event)">
                        <option value="es">
                            {{ "footer.es" | translate }}
                        </option>
                        <option value="en">
                            {{ "footer.en" | translate }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4 p-lg-6">
        <div class="box content copy-content">
            <img loading="lazy" class="logo" src="assets/img/logos/cofinanciado_derecha.png" alt="Logotipo Erasmus+"
                tabindex="1" />
            <div class="copy">
                <p>
                    &copy; {{ currentYear }} {{ "footer.copy" | translate }} | Developed
                    By
                    <span><a href="https://edutech-project.org" target="_blank">EduTech</a></span>
                </p>
                <p>
                    <a [routerLink]="['terms-and-conditions']">{{
                        "menu.terms" | translate
                        }}</a>
                </p>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="box content">
            <a class="footer-img" target="_blank" href="https://www.ups.edu.ec"><img loading="lazy"
                    src="assets/img/logos/logoupscolor.svg" alt="Logo UPS"
                    tabindex="1" /></a>
        </div>
    </div>
</div>