<div #webView class="web-view animate__animated animate__fadeIn">
    <!-- <iframe id="web-view" target="_parent" [title]="'object.titleIframe' | translate"
        [src]="selectedPage.code | urlsanitizer" frameborder="0" allowfullscreen></iframe> -->
    <div class="iframe">
        <app-iframe [page]="selectedPage"></app-iframe>
    </div>
    <div class="controls">
        <div class="dropdown">
            <h5>{{'edit.select' | translate}} </h5>
            <p-dropdown (onChange)="onChange($event)" [options]="pages" [(ngModel)]="selectedPage" optionLabel="title"
                [showClear]="true"></p-dropdown>
        </div>
        <div>
            <a title="{{'edit.btnOpen' | translate}}" target="_blank" [href]="selectedPage?.preview_path" pButton pRipple
                type="button" icon="pi pi-link" pTooltip="{{'edit.btnOpen' | translate}}"
                class="p-button-rounded p-button-outlined" style="margin-right: 5px;"></a>

            <ng-container *ngIf="fullScreen; else elseTemplate">
                <button title="{{'edit.btnClouseWindow' | translate}}" pTooltip="{{'edit.btnClouseWindow' | translate}}"
                    (click)="closeFullscreen()" pButton pRipple type="button" icon="pi pi-window-minimize"
                    class="p-button-rounded p-button-outlined"></button>
            </ng-container>
            <ng-template #elseTemplate>
                <button title="{{'edit.btnOpenWindow' | translate}}" (click)="openFullscreen()" pButton pRipple
                    type="button" icon="pi pi-window-maximize" class="p-button-rounded p-button-outlined"
                    pTooltip="{{'edit.btnOpenWindow' | translate}}"></button>

            </ng-template>
        </div>

    </div>
</div>